src/.mendix-cache
src/.svn

src/deployment
src/releases

src/.classpath
src/.project
src/*.mpr.lock
src/*.launch

src/*.mpr.bak
src/*.mpr.left*
src/*.mpr.right*

#src/modeler-merge-marker
#src/.settings
#src/proxies